<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="" class="form-label">Code</label>
            <input type="text" class="form-control" id="code" value = "{{ items.code }}" readonly disabled="disabled">
        </div>
    </div>
    <div class="col-6">
        <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input type="text" class="form-control" id="desc" value = "{{ items.desc }}" readonly disabled="disabled">
        </div>
    </div>
    <div class="col-12">
        <div class="input-group input-group-md mb-3">
            <label class="input-group-text">License</label>
            <select class="form-select" name="" id="listLicense">
                {% for lic in licenses %}
                <option value = "{{ lic.code }}">{{lic.desc}} ({{lic.code}})</option>
                {% endfor %}
            </select>
            <label for="" class="form-label btn btn-primary mb-0" onclick="$(this).addLicToSt()"><i
                    class="fa fa-plus"></i>&nbsp;&nbsp;Add License</label>
        </div>
    </div>

    <div class="col-12">
        <table class="table table-bordered" id="tbStationSetting">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Names</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
<script>
    var tbLicOfSt = null;
        console.log($('#code').val())
        if (tbLicOfSt != null) {
            tbLicOfSt.destroy();
        }
        tbLicOfSt = $('#tbStationSetting').DataTable({
            ajax: {
                type: 'POST',
                url: baseUrlApi + '/dict/licenseofstation/',
                contentType: appjson,
                data: function (d) {
                    return JSON.stringify({ Type: 'STATION_LICENSE', code: $('#code').val() });
                },
                dataSrc: function (json) {
                    $.each(json, function (index, val) {
                        val['tool'] = '<button class = "btn btn-danger" id = "delLicOfSt" type = "button"><i class="fa-solid fa-trash"></i></button>';
                    });
                    var data = { data: json }
                    return data.data;
                }
            },
            createdRow: function (row, data, dataIndex) {
                $(row).attr('dictId', data.dictId);
            },
            columns: [
                { data: 'refCode' },
                { data: 'desc' },
                { data: 'tool' }
            ],
            searching: false,
            info: false,
            paging: false,
            ordering: false,
            language: {
                emptyTable: "No data available in table",
            },
            fnDrawCallback: function (oSettings) {
                // $(oSettings.nTHead).hide();
            },
            initComplete: function (settings, json) {
                $.each(json, function (indexInArray, valueOfElement) { 
                    $('#tbStationSetting').find('option[value="' + valueOfElement.code + '"]').remove();
                });
            }
        });
</script>