body {
    background: #181b1f !important;
}

body .container-fluid {
    color: rgb(204, 204, 220) !important;
}

/* table {
    color:rgb(204, 204, 220) !important;
} */
.box-shadow {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

table,
tr,
th,
td {
    /* border-width: 0 !important; */
}

#tbListLicense img {
    width: 27.5px;
    height: 27.5px;
    border-radius: 50%;
}

#tbListLicense *,
#tbStation *,
#tbLicense * {
    color: rgb(204, 204, 220);
}

#tbStation tbody td:not(:last-child) {
    padding-left: 20%;
    padding-right: 5%;
    cursor: pointer;
}

/* table {
    background: #212529;
} */
table tr {
    cursor: pointer;
}

#tbLicense td:last-child,
#tbLicense th:last-child {
    width: 5%;
    text-align: center !important;
}
#tbLicense tbody td {
    vertical-align: middle;
}

#tbLicense td:first-child ,
#tbLicense th:first-child {
    padding-left: 16px;
}

.box-state {
    background: #4cae4c;
    width: 100%;
    height: 35px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 4px;
}

.tbStateStation .stateName {
    font-size: 12px;
    text-align: center;
}

.tbStateStation tr.stateName:not(:first-child):not(:last-child) td {
    padding-bottom: 0;
    padding-top: 0;
}

.tbStateStation .groupBox {
    text-align: center;
}

.tbStateStation {
    width: 100%;
}

.w-60 {
    width: 60%;
}

/* #tbStation th {
    color: rgb(110, 159, 255) !important;
    font-weight: 500;
} */
#tbStation th:last-child {
    width: 5%;
}
#tbStation td {
    vertical-align: middle;
}

#tbStation tbody td:last-child {
    text-align: center;
}

#tbStation tbody {
    /* border: 1px solid #dddddddb; */
}

#tbLicense {
    width: 100% !important;
}

#tbLicense thead th:nth-child(1){
    width: 10% !important;
}
#tbLicense thead th:nth-child(2){
    width: 75% !important;
}
#tbLicense thead th:nth-child(3){
    width: 15% !important;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }
}

.container-group-button {
    display: grid;
    grid-template-columns: 1fr auto auto;
    gap: 8px;
}


#tbRouterStation td:last-child {
    width: 15%;
    text-align: center;
    vertical-align: middle;
}
.jconfirm-content {
    overflow: hidden !important;
}