table {
    width: 100%;
}
.hidden {
    display: none;
}

html,body,table {
    /* height: 100%; */
}

tbody th, tbody td {
    /* border: 1px solid black !important; 
    border-collapse: collapse; */
}
/* tbody td {
    vertical-align: top;
    text-align: center;
} */
tbody img {
    /* filter: blur(1px); */
}
table tbody td {
    width: 33%;
}
img {
    width: 100%;
    /* height: 125px; */
    /* border-radius: 50%; */
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
body {
    /* color:rgb(204, 204, 220) !important; */
    /* background: #181b1f !important; */
    background: #080808 !important;
    /* background: #262d37; */
    /* background: #101010; */
    /* background: #fdfdfd; */
}
.d-flex {
    display: flex!important;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
tbody td {
    padding-left: 8px;
    padding-right: 8px;
}

/* .grid-container *{
    color:rgb(204, 204, 220) ;
} */
.grid-container .item {
    padding: 1vw 2vw 1vw 2vw;
    border-radius: 8px;
    /* box-shadow:0 15px 30px rgba(0,0,0,0.9); */
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* background: #39414e; */
    background: #0c0c0c;
    border:1px solid #cbff661a;
    /* background: #ffffff; */
}

.grid-container .item.click {
    border:3px solid #cbff666e;
}
.stName {
    text-align: center;
    border: 2px solid #cbff666e;
    color: rgb(203 255 102);
    font-weight: 700;
    padding: .5em 0;
    background: #151515;
    font-size: 1.75vw;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
thead tr td {
    cursor: pointer;
    text-align: center;
}


body.modal-open .modal {
    /* display: flex !important; */
    height: 100%;
} 

body.modal-open .modal .modal-dialog {
    margin: auto;
    width: 80%;
}

html,body {
    height: 100%;
}

.grid-license-list {
    display: grid;
    grid-template-columns: auto auto auto;
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px;
    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;
    font: 32px Arial, sans-serif;
}

.tag-img { 
    width: 50%;
}
.tag-img > div {
    flex: 1;
}
.tag-img img {
    /* max-width: 100%;
    height: auto; */
    /* border-radius: 8px; */
    /* filter: blur(10px); */
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}
.details {
    height: 100%;
    padding: 0% 0 0 5%;
    display: grid;
    gap: .35em;
    width: 100%;
    align-content: center;
}

.working-age {
    /* width: fit-content; */
    /* background: #f4b136; */
    font-weight: 500;
    border-radius: 4px;
    color:#ffffff85;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    /* padding: 4px 18px; */
}

.position {
    /* background: #ff7245; */
    font-weight: 500;
    border-radius: 4px;
    color:#ffffff85;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    /* padding: 4px 18px; */
}
/* .item .stName{
    height: 5%;
} */
/* .item  .tag-img{
    height: 35%;
} */
.item  .license_training{
    height: 40%;
}
.item  .tag-transection{
    height: 20%;
}
.item *{
    user-select: none;
}
.item table * {
    font-size: 14px;
}


.grid-container {
    height: 90%;
    padding: 16px;
    gap: 1.75em;
    display: grid;
}

.license_training table td:first-child > i{
    font-size: 8px;
}

.c-yellow {
    color:yellow;
}

.label-green {
    border-radius: 8px;
    background: #19873b;
    padding: 4px 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    display: inline-block;
    font-weight: 600;
}
.label-green::before {
    content: 'PASS';
}

.label-red {
    border-radius: 8px;
    background: #F44336;
    padding: 4px 14px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: white;
    display: inline-block;
    font-weight: 600;
}
.label-red::before {
    content: 'NO';
}


#tbLicenseCertificate td:first-child {
    width: 10% !important;
}
.flex-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}


.item-license {
    display: flex;
    /* background: whitesmoke; */
    background: #1e1e1e;
    color: white;
    padding: .5vw .75vw;
    border-radius: 8px;
    margin-bottom: 8px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
div > .item-license:last-child {
    margin-bottom: 0;
}

.NGOK table td:first-child{
    font-size: 2.5vw;
}
.item-license * {
    font-size: 1.35vw;
}

.item-license div:last-child{
    padding-left: 5%;
    width: 100%;
}
.details .name {
    color: #00d0ff;
    background: #202020;
    font-weight: 600;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: .5em .5em .5em 1em;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.user-detail {
    display: flex;
    background: #151515;
    border-radius: 8px;
    padding: 1em 0em 1em 1em;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.user-detail * {
    font-size: 1.2vw;
}
.NGOK{
    background: #151515;
    border-radius: 8px;
    padding: 1vw;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.NGOK table {
    color:white;
    text-align: center;
}
.NGOK table tr:not(:first-child) td:not(:first-child){
    font-size: 2vw;
}
.NGOK td:first-child{
    width: 30%;
}
.NGOK td:not(:first-child){
    width: 35%;
}
.NGOK table ,.NGOK td{
    border: 2px solid #ffffff99;
    border-collapse: collapse;
}
.NGOK table tr:nth-child(2) td:first-child{
    background: #23f5230d;
}
.NGOK table tr:nth-child(3) td:first-child{
    background: #f4433614;
}

.time-toolbar {
    display: flex;
    font-size: 2vw;
    flex-direction: column;
    gap: 0;
    line-height: 1.2;
    font-weight: 500;
}