{% load static %}
{% load bootstrap_icons %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="{% static '/jquery.min.js' %}"></script>
  <script src="{% static '/js/index.js' %}"></script>
  <link href="{% static 'operate.css' %}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script src="{% static 'fontawesome/js/all.min.js' %}"></script>
  <link  href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css">
  <title>Document</title>
</head>

<body>
  {% block content %}
  <div class="container hidden">
    <span id="count"></span>
    <h1>{{ item }}</h1>
    <table>
      {% for menu in menus %}
      <tr>
        <td>{{ menu.id }}</td>
      </tr>
      {% endfor %}
    </table>
    <button type="button" onclick="getCount()">fetch data</button>
  </div>

  <table class="tb-grid-6">
    <thead>
      <tr>
        <td colspan="3" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <h1>FAC : ONE</h1>
        </td>
      </tr>
      <tr>
        <td colspan="4">
          <h1>LINE : ONE</h1>
          <a href="/license_manage">go to manage</a>
          <!-- <select>
              {% for line in lines %}
              <option value="{{ line }}">{{ line }}</option>
              {% endfor %}
            </select> -->
        </td>
      </tr>
    </thead>
    <tbody>
      {% for _ in ''|center:2 %}
      <tr class="">
        {% for _ in ''|center:3 %}
        <td>
          <div class="item ">
            <span class="stName">Station Name</span><br>
            <div class="grid-container">
              <div class="grid-item">
                <img src="http://dcidmc.dci.daikin.co.jp/PICTURE/41256.JPG" style="float:left">
              </div>
              <div class="grid-item">
                <span class="opName">MR.PEERAPONG KIADTIPONGWIRIYA</span>
                <span class="wkAge">WORKING AGE : XXX</span>
                <span class="expDate">Exp.Date : XX-XX-XXXX</span>
              </div>
            </div>

            <div>
              <div class="grid-license-list">
                <div class="grid-license-item">1</div>
                <div class="grid-license-item">License 1</div>
                <div class="grid-license-item">Success</div>
                <div class="grid-license-item">2</div>
                <div class="grid-license-item">License 2</div>
                <div class="grid-license-item">Success</div>
                <div class="grid-license-item">3</div>
                <div class="grid-license-item">License 3</div>
                <div class="grid-license-item">Success</div>
              </div>
            </div>

            <table>
              <tbody>
                <tr>
                  <td></td>
                  <td>DAILY</td>
                  <td>ACCUMULATE</td>
                </tr>
                <tr>
                  <td>OK</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
                <tr>
                  <td>Brazing Leak</td>
                  <td>0</td>
                  <td>0</td>
                </tr>
              </tbody>
            </table>
          </div>
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}


</body>

</html>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action=""></form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<form action="/seleccion" method="POST">
  {% csrf_token %}
  <div>
      <select id="carrera" name="Carrera">
          <option value="1">TICS</option>
          <option value="2">Carrera</option>
          <option value="3">Carrera</option>
          <option value="4">Carrera</option>
          <option value="5">Carrera</option>
      </select>
  </div>

  <div>
      <select id="Alumno" name="Nombre">

          {% if alumno|length > 1 %}
          {% for alumno in alumno %}
          <option value="{{alumno.idAlumnos}}">{{alumno.nombre}}</option>
          {% endfor %}
          {% else %}
          <option value="{{alumno.idAlumnos}}">{{alumno.nombre}}</option>
          {%endif%}

          <input type="submit" name="Seleccionar">

      </select>
  </div>
  <label for="ID">ID</label>
  <input type="input" name="id" disabled value="{{alumno.idAlumnos}}"><br>
  <label for="apellidos">Apellidos</label>
  <input type="input" name="apellidos" disabled value="{{alumno.apellidos}}"><br>
  <label for="Correo">Correo</label>
  <input type="input" name="Correo" disabled value="{{alumno.correo}}"><br>

</form>