{% load static %}
{% load bootstrap_icons %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block main %}
  {% include "main.html" %}
  {% endblock %}
  <script src="{% static '/js/index.js' %}"></script>
  <link href="{% static 'index.css' %}" rel="stylesheet">
  <link href="{% static 'operate.css' %}" rel="stylesheet">
  <title>Document</title>
</head>

<body>
  {% csrf_token %}
  <div class="grid-toolbar">
    <div class = "time-toolbar">
      <span>2023-01-01</span>
      <span>09:00:00</span>
    </div>
    <h1 id="titleBar">TITLE BAR</h1>
    <a href="/station">go to manage</a>
  </div>
  <div class="grid-container grid-3fr"></div>
</body>
</html>
<button type="button" id="btnSelectLocation" class="btn btn-primary btn-lg" data-bs-toggle="modal"
  data-bs-target="#modalLocation">
  Launch
</button>

<div class="modal fade in" id="modalLocation" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
  role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalTitleId">Select Location ?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="row">
            <div class="col-6">
              <div class="mb-3">
                <label for="" class="form-label">Factory</label>
                <select name="" id="fac" class="form-select" onchange="setLine($('#line'))"></select>
              </div>
            </div>
            <div class="col-6">
              <div class="mb-3">
                <label for="" class="form-label">Line</label>
                <select name="" id="line" class="form-select"></select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="selectLocation()">Save</button>
      </div>
    </div>
  </div>
</div>



<div class="modal fade in" id="modalTabCard" tabindex="-1" aria-labelledby="modalTabCardLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form id="formTabCard">
          <input type="text" id="cardNumber" value="41256">
          <input type="hidden" id="refCode" value="">
          <h2>CHECK IN</h2>
          <img id="img" src="" style="width:80px;height: 100px;">
          <p id = "name">-</p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" id="conCard" value="41256">Con Card</button>
        <button type="button" class="btn btn-danger" id="disCard">Dis Card</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="setDetailTabCard()">Close</button>
        <button type="button" class="btn btn-primary" id="checkinout" state = "in" disabled = "disabled">Confirm</button>
      </div>
    </div>
  </div>
</div>