{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static '/jquery.min.js' %}"></script>
    <script src="{% static '/js/license_manage.js' %}"></script>
    <link href="{% static 'license_manage.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'fontawesome/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static '/growl/js/jquery.growl.js' %}" type="text/javascript"></script>
    <link href="{% static '/growl/css/jquery.growl.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static '/jqConfirm/css/jquery-confirm.css' %}">
    <script src="{% static 'jqConfirm/js/jquery-confirm.js' %}"></script>
    <title>Manage License</title>
</head>

<body>
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <h5 class="text-white h4">Collapsed content</h5>
            <span class="text-muted">Toggleable via the navbar brand.</span>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="" class="navbar-brand">License Management {{ name }}</a>
            <a href="/" class="btn btn-primary"><i class="fa-solid fa-tv"></i>&nbsp;&nbsp;Monitor Operate</a>
        </div>
    </nav>
    </div>
    <div class="container-fluid p-3">
        <div class="row">
            <div class="row">
                <div class="col-7">
                    <div class="d-flex justify-content-between">
                        <p><i class="fa-solid fa-star-half-stroke"></i>&nbsp;&nbsp;License List</p>
                        <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal"
                            data-bs-target="#modalAddLicense" style="height: fit-content;"><i
                                class="fa-solid fa-plus"></i>&nbsp;&nbsp;Add License</button>
                    </div>
                    <table class="table table-bordered table-striped table-dark" id="tbLicense">
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Total</td>
                                <td>%</td>
                            </tr>
                            <tr>
                                <td>license name 2</td>
                                <td><span class="c-green number">50</span></td>
                                <td>0.45 %</td>
                            </tr>
                            <tr>
                                <td>license name 2</td>
                                <td><span class="c-green number">50</span></td>
                                <td>0.01 %</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-5">
                    <div class="d-flex justify-content-between">
                        <p><i class="fa-solid fa-route"></i>&nbsp;&nbsp;Setting Router</p>
                        <button class="btn btn-primary btn-sm" style="height: fit-content;" data-bs-toggle="modal"
                            data-bs-target="#modalSettingRouter" onclick="test()"><i
                                class="fa-solid fa-gear"></i>&nbsp;&nbsp;Setting</button>
                    </div>
                    <table class="table table-bordered table-striped table-dark" id="tbSetting">
                        <tbody>
                        </tbody>
                    </table>
                </div>
                <div class="col-12">
                    <p>Station State</p>
                    <table class="tbStateStation table table-bordered">
                        <tbody>
                            <tr class="stateName">
                                <td></td>
                                <td>Main1YC line1</td>
                                <td>Main1YC line2</td>
                                <td>Main line3</td>
                                <td>Main line4</td>
                            </tr>
                            <tr class="groupBox">
                                <td>LINE 2 </td>
                                <td>
                                    <div class="box-state"></div>
                                </td>
                                <td>
                                    <div class="box-state"></div>
                                </td>
                                <td>
                                    <div class="box-state"></div>
                                </td>
                                <td>
                                    <div class="box-state"></div>
                                </td>
                            </tr>
                            <tr class="stateName">
                                <td></td>
                                <td>Main1YC line1</td>
                                <td>Main1YC line2</td>
                                <td>Main line3</td>
                                <td>Main line4</td>
                            </tr>
                            <tr class="groupBox">
                                <td>LINE 3 </td>
                                <td>
                                    <div class="box-state"></div>
                                </td>
                                <td>
                                    <div class="box-state"></div>
                                </td>
                                <td>
                                    <div class="box-state"></div>
                                </td>
                                <td>
                                    <div class="box-state"></div>
                                </td>
                            </tr>
                            <tr class="stateName">
                                <td></td>
                                <td>Main1YC line1</td>
                                <td>Main1YC line2</td>
                                <td>Main line3</td>
                                <td>Main line4</td>
                            </tr>
                            <tr class="groupBox">
                                <td>LINE 1 </td>
                                <td>
                                    <div class="box-state"></div>
                                </td>
                                <td>
                                    <div class="box-state"></div>
                                </td>
                                <td>
                                    <div class="box-state"></div>
                                </td>
                                <td>
                                    <div class="box-state"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12">
                    <p><i class="fa-solid fa-tv"></i>&nbsp;&nbsp;Operate Monitor</p>
                    <table class="table table-bordered table-striped" id="tbListLicense">
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>Check in</td>
                                <td>FG</td>
                                <td>NG</td>
                            </tr>
                            {% for _ in ''|center:5 %}
                            <tr>
                                <td><img src="http://dcidmc.dci.daikin.co.jp/PICTURE/41256.JPG"></td>
                                <td>
                                    <span>MR.Peerapong kiadtipongwiriya</span>
                                </td>
                                <td>Today</td>
                                <td>
                                    <span class="c-green number">00</span>
                                </td>
                                <td>
                                    <span class="c-red number">00</span>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</body>

</html>

<!-- Modal trigger button -->
<!-- Modal Body -->
<!-- if you want to close by clicking outside the modal, delete the last endpoint:data-bs-backdrop and data-bs-keyboard -->
<div class="modal fade" id="modalAddLicense" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Add License</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">License Name : </label>
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="Enter License Name ... " name="inpLicenseName" required>
                        <div class="invalid-feedback">
                            * Enter License Name Please !
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" onclick="addLicense()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSettingRouter" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"
    role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">Setting Router</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="">
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="" class="form-label">Factory</label>
                                <select name="" id="fac" class="form-select" onchange="getLine(this.value)"></select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="" class="form-label">Line</label>
                                <select name="" id="line" class="form-select"
                                    onchange="getStation(this.value)"></select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <label class="form-label">Station List </label>
                                            <table class="table table-bordered table-striped" id="tbStation">
                                                <tbody>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <form action="">
                                                <div class="mb-3">
                                                    <label class="form-label">Station Name</label>
                                                    <input type="text" class="form-control"
                                                        placeholder="Enter Station Name Please ..." id="stName">
                                                    <div id="emailHelp" class="form-text">System Genarate Code Automatic
                                                    </div>
                                                </div>
                                            </form>
                                            <a href="#" id="btnAddSt" class="btn btn-primary"
                                                onclick="$(this).addStation()">Add
                                                Station</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="setSettingRouter()">Save</button>
            </div>
        </div>
    </div>
</div>