{% load static %}
<script src="{% static '/jquery.js' %}"></script>
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'DataTables/datatables.min.js' %}"></script>
<link href="{% static 'DataTables/datatables.min.css' %}" rel="stylesheet" type="text/css" />
<script src="{% static 'fontawesome/js/all.min.js' %}"></script>
<link href="{% static 'fontawesome/css/all.min.css' %}" rel="stylesheet" type="text/css">
<script src="{% static '/growl/js/jquery.growl.js' %}" type="text/javascript"></script>
<link href="{% static '/growl/css/jquery.growl.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static '/jqConfirm/css/jquery-confirm.css' %}" rel="stylesheet" >
<script src="{% static 'jqConfirm/js/jquery-confirm.js' %}"></script>
<script src="{% static 'moment.js' %}"></script>
{% comment %} <script src="{% static '/js/index.js' %}"></script>
<script src="{% static '/js/license_manage.js' %}"></script>
<link href="{% static 'license_manage.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'index.css' %}"> {% endcomment %}